.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.progress-bar {
  background-color: #00cc66 !important;
}
.btn-outline-primary {
  color: #61AFEF !important;
  border-color: #61AFEF !important;
  font-family: 'Poppins, Sans serif !important'
}
.btn-outline-primary:hover {
  background-color: #61AFEF !important;
  color: white !important;
}

.fas-link:hover {
  cursor: pointer;
}
.yo {
  background-color: #E06C75 !important;
}

p{
  margin-bottom: 0px !important;
}

.future-weather {
  display: flex;
  margin: 0 auto;
  width: 80%;
  height: 10vh;
  justify-content: space-between;
  color: white;
}

.weather-values {
  color: white;
  top: 50%;
  transform: translateY(48%)
}

.st0-2{fill:#2B9348;}
	.st1-2{fill:#55A630;}
	.st2-2{fill:#F4A261;}
	.st3-2{fill:#AF7045;}
	.st4-2{opacity:0.2;fill:#DB0B0B;}
	.st5-2{fill:#FFFFFF;}
	.st6-2{fill:#B77979;}
	.st7-2{opacity:0.1;}


.st0-1{fill:#2B9348;}
	.st1-1{fill:#55A630;}
	.st2-1{fill:#F4A261;}
	.st3-1{fill:#AF7045;}
	.st4-1{fill:#FFFFFF;}
	.st5-1{fill:#AD7574;}
	.st6-1{opacity:0.1;}


.st0{fill:#2B9348;}
	.st1{fill:#55A630;}
	.st2{fill:#F4A261;}
	.st3{fill:#AF7045;}
	.st4{fill:#FFFFFF;}
	.st5{fill:#E76F51;}
	.st6{fill:#EA6147;}
	.st7{opacity:0.1;}

@media (prefers-reduced-motion: no-preference) {
  .Left-leaf {
    animation: Left-leaf-rotate infinite 2s linear;
  }
  .Right-leaf {
    animation: Right-leaf-rotate infinite 2s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes Left-leaf-rotate {
  0% {
    transform: rotate(-1deg);
    transform-origin: bottom
  }
  50% {
    transform: rotate(1deg);
    transform-origin: bottom
  }
  100% {
    transform: rotate(-1deg);
    transform-origin: bottom
  }
}

@keyframes Right-leaf-rotate {
  0% {
    transform: rotate(1deg);
    transform-origin: bottom
  }
  50% {
    transform: rotate(-1deg);
    transform-origin: bottom
  }
  100% {
    transform: rotate(1deg);
    transform-origin: bottom
  }
}
