.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.progress-bar {
  background-color: #00cc66 !important;
}
.btn-outline-primary {
  color: #61AFEF !important;
  border-color: #61AFEF !important;
  font-family: 'Poppins, Sans serif !important'
}
.btn-outline-primary:hover {
  background-color: #61AFEF !important;
  color: white !important;
}

.future-weather {
  display: flex;
  margin: 0 auto;
  width: 80%;
  height: 10vh;
  justify-content: space-between;
  color: white;
}

.weather-values {
  color: white;
  top: 50%;
  transform: translateY(48%)
}



.st0{fill:#2B9348;}
	.st1{fill:#55A630;}
	.st2{fill:#F4A261;}
	.st3{fill:#AF7045;}
	.st4{fill:#FFFFFF;}
	.st5{fill:#E76F51;}
	.st6{fill:#EA6147;}
	.st7{opacity:0.1;}

@media (prefers-reduced-motion: no-preference) {
  .Left-leaf {
    animation: Left-leaf-rotate infinite 2s linear;
  }
  .Right-leaf {
    animation: Right-leaf-rotate infinite 2s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes Left-leaf-rotate {
  0% {
    transform: rotate(-1deg);
    transform-origin: bottom
  }
  50% {
    transform: rotate(1deg);
    transform-origin: bottom
  }
  100% {
    transform: rotate(-1deg);
    transform-origin: bottom
  }
}

@keyframes Right-leaf-rotate {
  0% {
    transform: rotate(1deg);
    transform-origin: bottom
  }
  50% {
    transform: rotate(-1deg);
    transform-origin: bottom
  }
  100% {
    transform: rotate(1deg);
    transform-origin: bottom
  }
}
